<!--<div>-->
  <!--<pre>{{ user | json }}</pre>-->
  <!--<button (click)="logout()">LOGOUT</button>-->
<!--</div>-->
<div class="card" style="width: 18rem;">
  <!--<img src="{{user.userPicture}}" class="card-img-top" alt="brak awatara">-->
  <div class="card-body">
    <h5 class="card-title" *ngIf="authService.userFromDb" >{{authService.userFromDb.name}}</h5>
    <p class="card-text">Witaj na swoim profilu</p>
  </div>
  <ul class="list-group list-group-flush" *ngIf="authService.userFromDb" >
    <li class="list-group-item">{{authService.userFromDb.name}}</li>
    <li class="list-group-item">twój e-mail to: {{authService.userFromDb.email}}</li>
  </ul>
  <div>
    <button class="alert-danger" routerLink="/login" routerLinkActive="active" (click)="logout()" >Log out</button>
  </div>
</div>
<router-outlet></router-outlet>
